@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

html{
    width: 100vw;
    height: 100vw;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
/*Menu*/

.content{
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: #1f1e1f;
    justify-content: space-around;
    position: fixed;
   z-index: 195;
    align-items: center;
    
    
}

::-webkit-scrollbar{
    background-color:#fff;
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background-color:#e7b613;
    border-radius:20px;
    opacity: 0.2;
}
  

.logo{
    width: 70px;
    height: auto;
    display: flex;
    align-items: center;
    
  
}
.logo .logo-title{
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
}
.logo img{
width: 100%;
height: 100%;
}
.bi-instagram {
    color: #C13584;
}
.bi-facebook {
    color: #3b5998;
}
.content .menu{
    width: 600px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 3rem 1rem 2rem 1rem;
}
.content .menu li a{
color: #fff;
font-size: 2rem;
font-weight:500px;
text-transform: uppercase;
transition: all 204ms ease-in;

}
.content .menu li a:hover{
    border-radius: 10px solid #ffc506;
    background-color: #333333;
    color: #ffc506;
}
.Fake-Menu{
    position: absolute;
    top:0 ;
    right: 0;
    width: 25px;
    height: 27px;
    cursor: pointer;
    opacity: 0;
    z-index: 200;
   }


/*Conteudo-Principal*/
section{
    padding-top: 4rem;
    
}
.Conteudo-principal{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(rgba(29,29,29,0.8),rgba(29,29,29,0.8)),url(./Assents/fundopizza.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50px;
}
.Conteudo-principal .Cp-Title{
    color: #ffc506;
    font-size: 6rem;
}
.Conteudo-principal .Cp-Subtitle{
    font-size:3rem ;
    color: #fff;
    font-weight: 400;
}
.btn{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 4rem;
    
    
}
.btn button{
    width: 300px;
    color: #1f1e1f;
    border-radius: 10px;
    font-size: 2rem;
    background-color: #ffc506;
    transition: all 204ms ease-in;
    transform: scale(0.96);
  
}
.btn button:hover{
    background-color: transparent;
    border: 1px solid #ffc506;
    color: #fff;
   
}
/*Seccao Sobre Nos*/
.Sobre-Nos{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: #1f1e1f;
}
.Cozinha img{
    width: 400px;
    height: 450px;
    margin-top: 16rem;
    border: 1px solid #fff;
    margin-left: 3rem;
}
.Content{
display: flex;
padding: 4rem;
justify-content: center;
gap:50px;

}
.Descricao{
    display: flex;
    
}
.Decricao h2{
    text-align: center;
    font-size: 6rem;
    color: #fff;
}
.Decricao p{
width: 700px;
font-size: 2.5rem;
color: whitesmoke;
line-height: 3rem;
text-align: justify;
margin-top: 1.5rem;

}


/*Cardapio*/
.cardapio{
    background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(15, 15, 15, 0.8)), url(/Assents/cardapio.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    width: 100vw;
   
}
.cardapio h1{
    margin-top: 3rem;
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase;
}
.itens-Cardapio{
    width: 80%;
    display: grid;
    place-items: center;
    align-items: center;
    grid-gap:25px;
    justify-content: center;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:1fr 1fr; 
    grid-template-areas: "C-item1 C-item2 C-item1 C-item2"
                         "C-item1 C-item2 C-item1 C-item2";
    height: 100%;
    margin-bottom: 6rem;
    margin-top: 5rem;
   
}


.cardapio img{
    width: 100%;
    height: 200px;
}
.itens-Cardapio div{
    background-color:#5e5252 ;
    box-shadow: 0px 0px 4px 1px;
    width: 100%;
  color: black;
    border-radius: 20px ;
    
 
   


}

.itens-Cardapio .info{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 150%;
    border-radius:0px 0px 20px 20px;;
  

}
.itens-Cardapio .info h4,#Price{
display: flex;
gap: 50px;
}
.itens-Cardapio .info ,#Price{
    font-weight: 500;
}
.itens-Cardapio .info h3{
    font-size: 3rem;
    margin-top: 2rem;

}
.itens-Cardapio .info h4{
    font-size: 2rem;
    margin-bottom: 2rem;
}
.itens-Cardapio .info .btn-pedir{
    width: 50%;
    height: 5rem;
    margin-bottom: 2rem;
    background-color: #ffc506;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;

}
 .btn-pedir:active{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: scale(0.96);
   
}
/*Footer*/
footer{
    background-color: #1f1e1f;
    width: 100vw;
    height: 420px;
    color: #fff;
}
.Contactos h3{
    font-size: 3rem;
}
.Contactos span{
    font-size: 1.8rem;
}
.Rs-Sociais, .bi-instagram .bi-facebook{
    font-size: 2.5rem;
}
 footer .Contactos {
    display: grid;
    grid-template-columns: repeat(2 250px);
    gap: 50px;
    grid-template-rows: 30% 30% 5% 5%;
    grid-template-areas: "Endereco Horarios"
                         "Endereco Horarios"
                         "nothing Rs-Sociais"
                         "Reservado Reservado";
    align-items: center;    
    justify-items: center;      
             
 }
 .Endereco{
    grid-area: Endereco;
    display: flex;
    flex-direction: column;
    

 }
 .Horarios{
    grid-area: Horarios;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;

 }
 .Rs-Sociais{
    grid-area: Rs-Sociais;
    margin-right: 10rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
    
 }
 .Rs-Icon{

    display: flex;
    gap: 10px;
 }
 .Reservado{
    grid-area: Reservado;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;

 }
 .Reservado p{
    font-size: 1.2rem;
  
 }




/*Media Queries*/
@media (max-width:1206px){
    .Decricao p{
        width: 650px;
        }
        .Cozinha img{
            width: 400px;
            height: 500px;
          }
        }
@media (max-width:1152px){
    html{
  
        font-size: 52%;
     
     }
    .itens-Cardapio{
        width: 80%;
        display: grid;
        place-items: center;
        align-items: center;
        grid-gap: 5px 50px;
        justify-content: center;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows:auto ; 
        margin-bottom: 6rem;
        margin-top: 5rem;
    }
    .Decricao p{
        width: 550px;

    }  
    .Cozinha img{
        width: 300px;
        height: 400px;
       
       margin-top:16rem;
        margin-left: 3rem;
}
}

@media (max-width:964px){
    .Decricao p{
        width: 550px;
        padding: 0px 3rem;
        }
        .Cozinha img{
            width: 300px;
            height: 400px;
            margin-left: -4rem;
            margin-top:18rem;
        }
    }
@media (max-width:878px){

   .content .menu{
display:none ;
   } 
   .content .logo-title{
    font-size: 2.8rem;
   }
   .menu-Hamburguer{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 28px;
    width: 100%;
    position: absolute;
    top:4rem ;
    right: 5rem;
    z-index: 199;
    
   }
   .Fake-Menu{
    position: absolute;
    top:4.5rem ;
    right: 3.8rem;
    width: 25px;
    height: 27px;
    cursor: pointer;
    opacity: 0;
    z-index: 200;
    transition: all 1s ease;
    
   }
    .Fake-Menu:checked ~ .content {
    background-color:linear-gradient(rgba(12, 12, 12, 0.8), rgba(15, 15, 15, 0.8));
    opacity: 0.8;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
z-index: 199;
 
   }
   .Fake-Menu:checked ~ .content .logo {
    opacity: 0;
   }
   .Fake-Menu:checked ~ .content .menu i {
    opacity: 0;
   }
   .Fake-Menu:checked ~ .content .menu  {
 display: flex;
 flex-direction: column;
 gap: 30px;
 align-items: center;
 justify-content: center;
 
   }
   .Fake-Menu:checked ~ .content nav{
    display: grid;
    place-items: center;
   }
   .Fake-Menu:checked ~ .content .menu li {
    font-size: 1;

   }
   .Fake-Menu:checked ~ .content  .menu-Hamburguer{
    margin-right: 0rem;
    transition: 1s ease ease-in-out;
  
   }
   .Fake-Menu:checked ~ .content  .menu-Hamburguer .one {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scale(1.1);
    transition: all 1.2s ease-in-out;

   }
   .Fake-Menu:checked ~ .content  .menu-Hamburguer .two {
    opacity: 0;

   }
   .Fake-Menu:checked ~ .content  .menu-Hamburguer  .three{
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scale(1.1);
    transition: all 1.2s ease-in-out;

   }

   .menu-Hamburguer .one {
    border: 1px solid white;
 
   }
   .menu-Hamburguer .two {
    border: 1px solid white;
  

   }
   .menu-Hamburguer  .three{
    border: 1px solid white;
  
   }
   .content{
    display: flex;
    justify-content: space-between;
   }
   .content .logo{
    margin-left: 2rem;
   }
   html{
   font-size: 50%;

}
.Sobre-Nos .Content{
    display: block;
   
}
.Content  {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content  .Decricao p{
    width: 700px;
    margin :auto;
   margin-top: 1.5rem;
    
}
.Cozinha {
    display: flex;
    align-items: center;
    justify-content: center;
}
.Cozinha img{
    width: 450px;
    height: 300px;
 margin-top: 6rem;
}
.itens-Cardapio{
    width: 80%;
    display: grid;
    place-items: center;
    align-items: center;
    grid-gap:5px 40px;
    justify-content: center;
    grid-template-columns: 42% 42% ;
    grid-template-rows:auto; 
    margin-bottom: 6rem;
    margin-top: 5rem;
} 



}
@media (max-width:758px){
html{
    font-size: 48%;
}
.Content  .Decricao p{
    width: 600px;
   
}
.Content .Cozinha img{
    width: 400px;
    height: 250px; 
    margin-left: 0;   
}
}

@media (max-width:654px){

    html{
        font-size: 44%;
    }
    .btn{
        width: 300px;
        height: 120px;
        gap:20px;
        }
        .btn button{
            width: 150px;
            height: 50px;
            font-size: 2.2rem;
        
        }
   
    .Content  .Decricao p{
        width: 600px;  
       display: flex;
       align-items: center;
       justify-content: center;
    }
    .Content .Cozinha img{
        width: 350px;
        height: 250px;
    }
    .itens-Cardapio{
        width: 80%;
        display: grid;
        grid-template-columns: 60% ;
        grid-template-rows: auto;
        gap: 10px;
        margin-top: 15rem;
      margin-bottom: 15rem;
    }
      .itens-Cardapio .info .btn-pedir{
        width: 50%;
        height: 6rem;
}
   
.itens-Cardapio .info h3{
    font-size: 4rem;
 

}
.itens-Cardapio .info h4{
    font-size: 2.5rem;
   
}
.itens-Cardapio .info .btn-pedir{
    font-size: 2.5rem;
}
}     
     
    footer {
        height: 500px;
    }
    footer .Contactos {
        display: grid;
        gap: 30px;
        grid-template-columns: 100%;
        grid-template-rows: 30% 30% 5% 100%;
       grid-template-areas: "Endereco"
                            "Horarios"
                            "Rs-Sociais"
                            "Reservado";
                            align-items: flex-start;
    justify-items: flex-start;
 
 
   position: relative;
}
footer .Contactos :not(:last-child){

margin-left: 3rem;
}
.Contactos h3{
    font-size: 3.5rem;
}
.Contactos span{
    font-size: 2.2rem;
}
.Endereco{
    grid-area:Endereco ;
    
   
}
.Horarios{
    grid-area: Horarios;
}
.Rs-Sociais{
    grid-area: Rs-Sociais;
}
.Rs-Sociais, .bi-instagram .bi-facebook{
    font-size: 3rem;
}
.Reservados{
    grid-area: Reservado;
position: absolute;
width: 100vw;

}



@media( max-width:638px) {
    html{
        font-size: 40%;
    }
    .Content  .Decricao p{
        width: 500px;  
        font-size: 2.5rem;  
    }
    .Content .Cozinha img{
        width: 350px;
        height: 250px;    
    }
    .itens-Cardapio{
        width: 80%;
        display: grid;
        grid-template-columns: 65% ;
       
    }


}
   
@media( max-width:540px){
html{
    font-size: 38%;
}
.Content  .Decricao p{
    width: 450px; 
    font-size: 2.5rem;
    
}
.Content .Cozinha img{
    width: 300px;
    height: 200px;    
}

.itens-Cardapio{
    width: 80%;
    display: grid;
    grid-template-columns: 70% ;
}
}

@media( max-width:494px){
    html{
        font-size:36% ;
    }
    .btn{
        width: 400px;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
      
    }
    .Content  .Decricao p{
        width: 420px; 
        font-size: 2.5rem;
        
    }
    .Content .Cozinha img{
        width: 300px;
        height: 200px;    
    }
}



@media( max-width:442px){
    html{
        font-size:34%;
    }
    .Conteudo-principal .Cp-Title{
   
        font-size: 5.5rem;
    }
    .Conteudo-principal .Cp-Subtitle{
        font-size:3rem ;
      
    }
    .btn button{
        width: 150px;
        height: 50px;
    
    }
    .Content  .Decricao p{
        width: 350px;  
        font-size: 3rem;  
    }
    .Content .Cozinha img{
        width: 300px;
        height: 220px;    
    }
}


@media( max-width:398px){
    html{
        font-size: 30%;
    }
    .btn button{
      font-size: 2.8rem;
    }
    .Content  .Decricao p{
        width: 350px;  
        font-size: 3.2rem;  
        line-height: 3rem;
    }
    .Content .Cozinha img{
        width: 250px;
        height: 200px;    
    }


    .itens-Cardapio .info h3{
        font-size: 4.5rem;
     
    
    }
    .itens-Cardapio .info h4{
        font-size: 3rem;
       
    }
    .itens-Cardapio .info .btn-pedir{
        font-size: 3rem;
    }
    .itens-Cardapio .info .btn-pedir{
        width: 55%;
        height: 8rem;
}
    .itens-Cardapio {
        width: 100%;
        display: grid;
        grid-template-columns: 60%;
        grid-template-rows: auto;
        
}

}
@media( max-width:320px){
    html{
        font-size: 28%;
    }
    .Content  .Decricao p{
        width: 280px;  
        font-size: 3.2rem;  
        line-height: 3rem;
    }
}